<h1>Search for restaurants</h1>

<%= link_to new_pin_path, class: "btn btn-default btn-block" do %>
<span class="glyphicon glyphicon-chevron-right"></span>
Add restaurant by yourself
<% end %></p>


<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @pins.count %></span>
      <b>Number of restaurants:</b> 
       <%= render 'pins/show_pin_details' %>      
  </li>

</ul>


