<h1>Search for restaurants</h1>
<p>Search for your favorite restaurant in our database of <b><%= @pins.count %> restaurants</b>. 
<u>Hint:Save your favorite ones to your favorite list.</u></p> 
<%= render 'pins/show_pin_details' %>  
