<h1>My favorite list</h1>
<% if current_user.find_liked_items.size > 0 %>
<p>View your <b><%= current_user.find_liked_items.size %></b> favorite restaurants.</p> 
<%= render 'pins/show_pin_details' %>  
<% else %>
  <p> You haven't added any restaurants yet, start now with adding	 some restaurants to your favorite list here. </p>
<%= link_to pins_path, class: "btn btn-danger btn-block" do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        Add restaurants to favorite list
        <% end %></p>
<% end %>


