<% user = local_assigns.has_key?(:user) ? user : nil %>
<% if user %>
<div class="panel-body">
  <div class="actions">
      <p><%= link_to image_tag(user.image_file_name), user %></p>
      <p><%= link_to user.name, user_path(user) %></p></strong>
  </div>
</div>
<% end %>