<h1>My suggestions (<%= current_user.follows.count%>)</h1>

<% if @pins.present? && @pins.to_a.size > 0 %>
  <ul class="list-group">
        <li class="list-group-item">
         <%= render 'pins/show_pin_details' %>      
    </li>
    </ul>
<% else %>
	<p> You haven't added any friends yet or your friends haven't added any restaurants. Add some (more) friends to see their favorite restaurants. </p>
<% end %>

<%= link_to users_path, class: "btn btn-default btn-block" do %>
<span class="glyphicon glyphicon-chevron-right"></span>
Add friends to your list
<% end %></p>

<%= link_to pins_path, class: "btn btn-default btn-block" do %>
	<span class="glyphicon glyphicon-chevron-right"></span>
	Add restaurants to your list
<% end %></p>