<h1>My followers</h1>
   <% if @followers.present? && @followers.size > 0 %>
   <p>View the <b><%= current_user.followers.count %></b> users that are following you. <br>
   <div id="pins" class="transitions-enabled">
            <% @followers.each do |user| %>
              <div class="box panel panel-default" id = "user_<%= user.id %>">
               <%= render :partial => 'users/user', :locals => {:user => user} %>
                    </div> 
            <% end %>
        <% else %>
          <p>You don't have any followers, invite users to follow you.</p>
          <%= link_to users_path, class: "btn btn-danger btn-block" do %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  Invite users to follow you
                  <% end %></p>
        <% end %> 


  
      