<h1>Add friends</h1>
<p>View all <strong><%= @user.count %> chefs </strong> users and add your friends. 
    <div id="pins" class="transitions-enabled">
      <% @user.each do |user| %>
        <div class="box panel panel-default" id = "user_<%= user.id %>">
            <%= render :partial => 'users/user', :locals => {:user => user} %>
        </div>
        <% end %>
    </div>


