<h1>Add friends</h1>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @user.count %></span>
      <b>Users:</b>
           <% @user.each do |user| %>
               <li class="list-group-item">
               <%= render :partial => 'users/user', :locals => {:user => user} %>
                </li>
          <% end %>
  </li>
</ul>

