<h1>My friends</h1>
<p>View your <b><%= current_user.follows.count %></b> friends. <br>
   <% if @followings.present? && @followings.size > 0 %>
   <div id="pins" class="transitions-enabled">
            <% @followings.each do |user| %>
              <div class="box panel panel-default" id = "user_<%= user.id %>">
               <%= render :partial => 'users/user', :locals => {:user => user} %>
                    </div> 
            <% end %>
        <% else %>
            <p> You haven't added any friends yet, add some friends and see their restaurants here. </p>
            <%= link_to users_path, class: "btn btn-danger btn-block" do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
            Add friends
            <% end %></p>
        <% end %> 
