<p>Hi <%= @pin.user.name %>,</p>

<p>Your restaurant <b><%= @pin.description %></b> is now liked by:</p>

<% @pin.votes_for.voters.each do |p| %>

<li><%= p.name %></li>

<% end %>

<p>View or edit your restaurant <%= link_to "here", pin_url(@pin) %>.</p>

<p>Dinder</p>